.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    border: 5px solid black;
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
  }

  .pMain{
    color: black;
  }

  .ClassNamepMain{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
  }

  .custom-image{
    width: 17rem; 
    height: auto;
    border-radius: 5px;
    border: 2px solid grey;
  }

  .Card-Body {
    background-color: aqua;
  }


